
<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />   

    <MudAutocomplete T="SmartStock.Shared.Entities.Category"
                     Label=@Localizer["category"]
                     Placeholder=@Localizer["select_a_category"]
                     SearchFunc="SearchCategory"
                     Value="selectedCategory"
                     ValueChanged="CategoryChanged"
                     ToStringFunc="@(e=> e==null?null : $"{e.CategoryName}")">
        <ItemTemplate Context="itemContext">
            @itemContext.CategoryName
        </ItemTemplate>
    </MudAutocomplete>

    <MudTextField Label="@Localizer["product_code"]"
                  @bind-Value="@ProductDTO.ProductCode"
                  For="@(() => ProductDTO.ProductCode)"
                  Class="mb-4" />

    <MudTextField Label="@Localizer["product_name"]"
                  @bind-Value="@ProductDTO.ProductName"
                  For="@(() => ProductDTO.ProductName)"
                  Class="mb-4" />

    <MudNumericField T="decimal" Label="@Localizer["unit_price"]"
                     @bind-Value="@ProductDTO.UnitPrice"
                     For="@(() => ProductDTO.UnitPrice)"
                     Class="mb-4" />

    <MudNumericField T="int" Label="@Localizer["current_stock"]"
                     @bind-Value="@ProductDTO.CurrentStock"
                     For="@(() => ProductDTO.CurrentStock)"
                     Class="mb-4" />

    <MudNumericField T="int" Label="@Localizer["minimum_stock"]"
                     @bind-Value="@ProductDTO.MinimumStock"
                     For="@(() => ProductDTO.MinimumStock)"
                     Class="mb-4" />

    <MudDatePicker Label="@Localizer["expiration_date"]"
                   @bind-Date="@ProductDTO.ExpirationDate"
                   For="@(() => ProductDTO.ExpirationDate)"
                   Class="mb-4"
                   DateFormat="dd/MM/yyyy" />

    <MudDatePicker Label="@Localizer["created_at"]"
                   Date="@ProductDTO.CreatedAt"
                   ReadOnly="true"
                   Class="mb-4"
                   DateFormat="dd/MM/yyyy" />


    <div class="my-2">
        <InputImg Label=@Localizer["Image"] ImageSelected="ImageSelected" ImageURL="@imageUrl" />
    </div>

    <MudButton Variant="Variant.Outlined"
               StartIcon="@Icons.Material.Filled.ArrowBack"
               Color="Color.Info"
               OnClick="ReturnAction">
        @Localizer["Return"]
    </MudButton>

    <MudButton Variant="Variant.Outlined"
               StartIcon="@Icons.Material.Filled.Check"
               Color="Color.Primary"
               ButtonType="ButtonType.Submit">
        @Localizer["SaveChanges"]
    </MudButton>
</EditForm>


